.hidden { display: none; }
.v-hidden { visibility: hidden; }
.clickable {
    cursor: pointer;
}

.home-banner {
    height: 350px;
}

.home-banner img {
    height: 100%;
}

.tb-ui-1 {width:10%}
.tb-ui-2 {width:1%}

.navbarFont{
    transition:width 1s;
    transition-timing-function: ease;
}
